header {
    display: block;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color:  #F1B4BB;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.gradiant {
    background-color: #282c31;
}
.footer {
    background-color: #A6F6FF;
}

.few {
    background-color: #4e8eb1;
}